<div id="foreground-main">
  <div id="match-profile">
    <div class="match-profile-info">
      <div class="match-info">
        <p class="time">11:00am Mon</p>
        <p class="location">Cafe name</p>
      </div>
      <h3>Confirm Reservation?</h3>
    </div>
    <div style="clear: both"></div>
    <div class="inline-buttons" style="margin-bottom: 200px">
      <div class="button-main danger">
        <button ng-click="increment()">Cancel</button>
      </div>

      <div class="button-main success">
        <button ng-click="accept()">Confirm</button>
      </div>
    </div>
  </div>
</div>
